{{ camel_case_plugin_name }}
=============================================

One Paragraph of plugin description goes here


Installation
------------

To install {{ camel_case_plugin_name }}:

1.  Install with pip: ``pip install {{ plugin_namespace }}.{{ plugin_name }}``.
2.  In ``settings.py``, add ``'{{ plugin_namespace }}.{{ plugin_name }}'`` to ``PLUGINS``.

Authors
-------

- Me

License
-------

This project is licensed under the X License

Acknowledgments
---------------

-  Hat tip to anyone who’s code was used
-  Inspiration
-  etc
